sudo: false

language: node_js
node_js:
  - "6"

cache: yarn

before_install:
  # use most recent stable `yarn` version
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn --no-lockfile

script:
  - yarn problems
  - yarn lint
  - yarn test

after_success:
  - yarn build
